<div id="<%= dom_id project %>">
  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= project.area_id %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= project.goal_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Hierarchy:</strong>
    <%= project.hierarchy %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= project.due_date %>
  </p>

  <p>
    <strong>Star:</strong>
    <%= project.star %>
  </p>

</div>
