<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold justify-center" style="display: flex; justify-content: center;"><%=h @project.name %></h1>

<div>
  <p>
    Star: <%= check_box_tag 'read_only_status', '1', @project.star, disabled: true %>
  </p>
  <p>
    Status: <%=h @project.status %>
  </p>
  <p>
    Area: <%= link_to @project.area&.name, area_path(@project.area), style: "text-decoration-line: underline;" if @project.area.present? %>
  </p>
  <p>
    Goal: <%= link_to @project.goal&.name, goal_path(@project.goal), style: "text-decoration-line: underline;" if @project.goal.present? %>
  </p>
  <p>
    Description: <%=h @project.description %>
  </p>
  <p>
    Start date: <%=h @project.start_date %>
  </p>
  <p>
    Due date: <%=h @project.due_date %>
  </p>
  <p>
    Tags:
    <% @project.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </p>
</div>

<div id="buttons" class="justify-center" style="display: flex; justify-content: center;">
  <p class="py-2.5">
    <%= link_to "Edit", edit_project_path(@project), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <%= link_to "Delete", project_path(@project), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% if params[:return_goal_id].present? %>
      <%= link_to "Back to goal", goal_path(params[:return_goal_id]), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% else %>
      <%= link_to "Back to projects", projects_path, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% end %>
  </p>
</div>

<div>
  <h1 class="text-2xl font-bold justify-center py-4" style="display: flex; justify-content: center;">Comments</h1>
  <% if @project.project_comments.any? %>
    <% @project.project_comments.each do |comm| %>
      <p><%= comm.comment.gsub("\n", '<br>').html_safe %></p>
      <%= link_to "Edit", edit_project_comment_path(comm), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
      <%= link_to "Delete", project_comment_path(comm), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% end %>
  <% end %>
  <p>
    <%= link_to "Add comment", new_project_comment_path(project_id: @project.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
  </p>
</div>

<div>
  <h1 class="text-2xl font-bold justify-center py-4" style="display: flex; justify-content: center;">Tasks</h1>
  <% if @project.tasks.any? %>
    <% task_max_hierarchy = @project.tasks.maximum(:hierarchy) %>
    <div id="tasks" class="justify-center" style="display: flex; justify-content: center;">
      <table id="tableTasks">
        <tr>
          <th>Star</th>
          <th>Status</th>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      <% @project.tasks.order(:hierarchy).each do |task| %>
          <tr>
            <th class="text-left"><%= task.star ? "Yes" : "" %></th>
            <th class="text-left"><%= task.status %></th>
            <th class="text-left px-2">
              <%= link_to task.name, task_path(task, return_project_id: @project.id), style: "text-decoration-line: underline;"  %>
            </th>
            <th class="text-left px-2"><%= task.description.slice(0, 20) %></th>
            <th class="flex items-center space-x-2">
              <%= link_to "Edit", edit_task_path(task, return_project_id: @project.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
              <% if task.hierarchy > 1 %>
                <%= button_to "Up", { controller: 'tasks', action: 'up', id: task.id, hierarchy: task.hierarchy, return_project_id: @project.id, method: :post }, class: 'inline-flex items-center px-2 py-1 border border-transparent text-xs font-small rounded-md bg-gray-200' %>
              <% end %>
              <% if task.hierarchy < task_max_hierarchy %>
                <%= button_to "Down", { controller: 'tasks', action: 'down', id: task.id, hierarchy: task.hierarchy, return_project_id: @project.id, method: :post}, class: 'inline-flex items-center px-2 py-1 border border-transparent text-xs font-small rounded-md bg-gray-200' %>
              <% end %>
            </th>
          </tr>
      <% end %>
      </table>
    </div>
  <% end %>
  <p>
    <%= link_to "Add task", new_task_path(project_id: @project.id, area_id: @project.area_id, return_project_id: @project.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
  </p>

</div>
