<h1>New tag</h1>

<%= form_for @tag do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p><%= f.submit "Create tag" %></p>
<% end %>

<br>

<div>
  <%= link_to "Back to tags", tags_path %>
</div>
