<div id="<%= dom_id area %>">
  <p>
    <strong>User:</strong>
    <%= area.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= area.name %>
  </p>

  <p>
    <strong>Hierarchy:</strong>
    <%= area.hierarchy %>
  </p>

  <p>
    <strong>Isdefault:</strong>
    <%= area.isDefault %>
  </p>

</div>
