<p style="color: green"><%= notice %></p>

<h1>Areas</h1>

<div id="areas">
  <table>
  <tr>
    <th>Default</th>
    <th>Name</th>
    <th></th>
  </tr>
  <% @areas.each do |area| %>
      <tr>
        <th><%= area.isDefault ? "Yes" : "" %></th>
        <th><%= area.name %></th>
        <th>
          <%= link_to "Show this area", area %> |
          <%= link_to "Edit this area", edit_area_path(area) %>
          <%= button_to "Up", areas_up_path, method: :post, :id => area.__id__, :hierarchy => area.hierarchy %>
          <%= button_to "Down", areas_down_path, method: :post %>
        </th>
      </tr>
  <% end %>
  </table>
</div>

<%= link_to "New area", new_area_path %>
