<p style="color: green"><%= notice %></p>

<h1>Areas</h1>
<% max_hierarchy = @areas.maximum(:hierarchy) %>
<div id="areas">
  <table>
  <tr>
    <th>Default</th>
    <th>Name</th>
    <th></th>
  </tr>
  <% @areas.each do |area| %>
      <tr>
        <th><%= area.isDefault ? "Yes" : "" %></th>
        <th><%= area.name %></th>
        <th>
          <%= link_to "Show", area %> |
          <%= link_to "Edit", edit_area_path(area) %>
          <% if area.hierarchy > 1 %>
            <%= button_to "Up", action: 'up', id: area.id, hierarchy: area.hierarchy, method: :post, class: 'inline' %>
          <% end %>
          <% if area.hierarchy < max_hierarchy %>
            <%= button_to "Down", action: 'down', id: area.id, hierarchy: area.hierarchy, method: :post, class: 'inline' %>
          <% end %>
        </th>
      </tr>
  <% end %>
  </table>
</div>

<%= link_to "New area", new_area_path %>
