<h1>New area</h1>

<%= form_for @area do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :isDefault %><br />
    <%= f.check_box :isDefault %>
  </p>

  <p><%= f.submit "Create area" %></p>
<% end %>

<br>

<div>
  <%= link_to "Back to areas", areas_path %>
</div>
