<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold justify-center" style="display: flex; justify-content: center;"><%=h @area.name %></h1>
<div id="areas" class="justify-center" style="display: flex; justify-content: center;">
  <p>Is default: <%=h @area.isDefault ? "Yes" : "No" %></p>
</div>
<div id="buttons" class="justify-center" style="display: flex; justify-content: center;">
  <p class="py-2.5">
    <%= link_to "Edit", edit_area_path(@area), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <%= link_to "Delete", area_path(@area), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <%= link_to "Back to areas", areas_path, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
  </p>
</div>
<div>
  <h1 class="text-2xl font-bold justify-center py-4" style="display: flex; justify-content: center;">Goals</h1>
  <% if @goals.any? %>
  <div id="goals" class="justify-center" style="display: flex; justify-content: center;">
    <table>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Description</th>
        <th>Area</th>
        <th></th>
      </tr>
      <% @goals.each do |goal| %>
        <tr>
          <th class="text-left"><%= goal.status %></th>
          <th class="text-left px-2">
            <%= link_to goal.name, goal_path(goal), style: "text-decoration-line: underline;"  %>
          </th>
          <th class="text-left px-2"><%= goal.description.slice(0, 20) %></th>
          <th class="text-left px-2"><%= goal.area.name if goal.area %></th>
          <th class="flex items-center space-x-2">
            <%= link_to "Edit", edit_goal_path(goal, return_area_id: @area.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
          </th>
        </tr>
      <% end %>
    </table>
  </div>
  <% end %>

  <div>
    <h1 class="text-2xl font-bold justify-center py-4" style="display: flex; justify-content: center;">Projects</h1>
    <% if @projects.any? %>
    <div id="projects" class="justify-center" style="display: flex; justify-content: center;">
      <table style="margin-left: auto; margin-right: auto;">
        <tr>
          <th>Star</th>
          <th>Status</th>
          <th>Name</th>
          <th>Description</th>
          <th>Goal</th>
          <th>Area</th>
          <th></th>
        </tr>
        <% @projects.each do |project| %>
          <tr>
            <th><%= project.star %></th>
            <th class="text-left px-2"><%= project.status %></th>
            <th class="text-left px-2">
              <%= link_to project.name, project_path(project), style: "text-decoration-line: underline;"  %>
            </th>
            <th class="text-left px-2"><%= project.description.slice(0, 20) %></th>
            <th class="text-left px-2"><%= project.goal.name if project.goal %></th>
            <th class="text-left px-2"><%= project.area.name if project.area %></th>
            <th class="flex items-center space-x-2">
              <%= link_to "Edit", edit_project_path(project, return_area_id: @area.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
            </th>
          </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>


</div>

