<div id="<%= dom_id goal %>">
  <p>
    <strong>Area:</strong>
    <%= goal.area_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= goal.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= goal.status %>
  </p>

</div>
