<h1>Editing goal</h1>

<%= form_for @goal do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :status %><br />
    <%= f.select :status, Goal.statuses.keys %>
  </p>

  <p>
    <%= f.label :area %><br />
    <%= f.select(:area_id, options_for_select(@areas, selected: @goal.area_id)) %>
  </p>

  <p><%= f.submit "Save" %></p>
<% end %>

<br>

<div>
  <%= link_to "Show this goal", @goal %> |
  <%= link_to "Back to goals", goals_path %>
</div>
