<p style="color: green"><%= notice %></p>

<h1>Goals</h1>

<% max_hierarchy = @goals.maximum(:hierarchy) %>
<div id="goals">
  <table>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Description</th>
      <th>Area</th>
      <th></th>
    </tr>
    <% @goals.each do |goal| %>
    <tr>
      <th><%= goal.status %></th>
      <th><%= goal.name %></th>
      <th><%= goal.description.slice(0, 20) %></th>
      <th><%= goal.area.name if goal.area %></th>
      <th>
        <p>
          <%= link_to "Show this goal", goal %>
          <%= link_to "Edit", edit_goal_path(goal) %>
          <% if goal.hierarchy > 1 %>
            <%= button_to "Up", action: 'up', id: goal.id, hierarchy: goal.hierarchy, method: :post, class: 'inline' %>
          <% end %>
          <% if goal.hierarchy < max_hierarchy %>
            <%= button_to "Down", action: 'down', id: goal.id, hierarchy: goal.hierarchy, method: :post, class: 'inline' %>
          <% end %>
        </p>
      </th>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to "New goal", new_goal_path %>
