<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold justify-center" style="display: flex; justify-content: center;">Goals</h1>

<% max_hierarchy = @goals.maximum(:hierarchy) %>
<div id="goals" class="justify-center" style="display: flex; justify-content: center;">
  <table class="w-full border-collapse border border-blue-500 max-w-xl mt-16 mx-auto">
    <tr class="bg-blue-500 text-gray-600">
      <th class="py-2 px-4 text-left">Status</th>
      <th class="py-2 px-4 text-left">Name</th>
      <th class="py-2 px-4 text-left">Description</th>
      <th class="py-2 px-4 text-left">Area</th>
      <th class="py-2 px-4 text-left"></th>
    </tr>
    <% @goals.each do |goal| %>
    <tr class="bg-white border-b border-blue-500">
      <th class="text-left"><%= goal.status %></th>
      <th class="text-left px-2">
        <%= link_to goal.name, goal_path(goal), style: "text-decoration-line: underline;"  %>
      </th>
      <th class="text-left px-2"><%= goal.description.slice(0, 20) %></th>
      <th class="text-left px-2"><%= goal.area.name if goal.area %></th>
      <th class="flex items-center space-x-2">
        <%= link_to "Edit", edit_goal_path(goal), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
        <% if goal.hierarchy > 1 %>
          <%= button_to "Up", { action: 'up', id: goal.id, hierarchy: goal.hierarchy, method: :post }, class: 'inline-flex items-center px-2 py-1 border border-transparent text-xs font-small rounded-md bg-gray-200' %>
        <% end %>
        <% if goal.hierarchy < max_hierarchy %>
          <%= button_to "Down", { action: 'down', id: goal.id, hierarchy: goal.hierarchy, method: :post}, class: 'inline-flex items-center px-2 py-1 border border-transparent text-xs font-small rounded-md bg-gray-200' %>
        <% end %>
      </th>
    </tr>
    <% end %>
  </table>
</div>

<div class="justify-center py-4" style="display: flex; justify-content: center;">
  <%= link_to "New goal", new_goal_path, class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
</div>
