<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold justify-center" style="display: flex; justify-content: center;"><%=h @goal.name %></h1>

<div>
  <p>
    Status: <%= @goal.status %>
  </p>
  <p>
    Area: <%= link_to @goal.area&.name, area_path(@goal.area), style: "text-decoration-line: underline;" if @goal.area.present? %>
  </p>
  <p>
    Description: <%= @goal.description %>
  </p>
</div>
<%= hidden_field_tag :return_area_id, params[:return_area_id] %>
<div id="buttons" class="justify-center" style="display: flex; justify-content: center;">
  <p class="py-2.5">
    <%= link_to "Edit", edit_goal_path(@goal), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <%= link_to "Delete goal", goal_path(@goal), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <%= link_to "Delete goal and projects", url_for(controller: 'goals', action: 'delete_with_projects', id: @goal.id), data: { turbo_method: :post, turbo_confirm: 'Are you sure?'}, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% if params[:return_area_id].present? %>
      <%= link_to "Back to area", area_path(params[:return_area_id]), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% else %>
      <%= link_to "Back to goals", goals_path, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% end %>
  </p>
</div>

<div>
  <h1 class="text-2xl font-bold justify-center py-4" style="display: flex; justify-content: center;">Comments</h1>
  <% if @goal.goal_comments.any? %>
    <% @goal.goal_comments.each do |comm| %>
      <p><%= comm.comment.gsub("\n", '<br>').html_safe %></p>
      <%= link_to "Edit", edit_goal_comment_path(comm), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
      <%= link_to "Delete", goal_comment_path(comm), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
    <% end %>
  <% end %>
  <p>
    <%= link_to "Add comment", new_goal_comment_path(goal_id: @goal.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
  </p>
</div>

<div>
  <h1 class="text-2xl font-bold justify-center py-4" style="display: flex; justify-content: center;">Projects</h1>
  <%= link_to "Add project", new_project_path(goal_id: @goal.id, area_id: @goal.area_id, return_goal_id: @goal.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
  <% if @projects.any? %>
    <div id="projects" class="justify-center" style="display: flex; justify-content: center;">
      <table style="margin-left: auto; margin-right: auto;">
        <tr>
          <th>Star</th>
          <th>Status</th>
          <th>Name</th>
          <th>Description</th>
          <th>Goal</th>
          <th>Area</th>
          <th></th>
        </tr>
        <% @projects.each do |project| %>
          <tr>
            <th><%= project.star %></th>
            <th class="text-left px-2"><%= project.status %></th>
            <th class="text-left px-2">
              <%= link_to project.name, project_path(project, return_goal_id: @goal.id), style: "text-decoration-line: underline;"  %>
            </th>
            <th class="text-left px-2"><%= project.description.slice(0, 20) %></th>
            <th class="text-left px-2"><%= project.goal.name if project.goal %></th>
            <th class="text-left px-2"><%= project.area.name if project.area %></th>
            <th class="flex items-center space-x-2">
              <%= link_to "Edit", edit_project_path(project, return_goal_id: @goal.id), class: 'inline-flex items-center px-3 py-1 border border-transparent text-s font-small rounded-md bg-gray-200' %>
            </th>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>


