<p style="color: green"><%= notice %></p>

<%= render @goal %>

<div>
  <%= link_to "Edit this goal", edit_goal_path(@goal) %> |
  <%= link_to "Back to goals", goals_path %>

  <%= button_to "Destroy this goal", @goal, method: :delete %>
</div>
