<div id="<%= dom_id task %>">

  <h1 class="text-2xl font-bold justify-center" style="display: flex; justify-content: center;"><%=h task.name %></h1>
  <div>
    <p>
      Star: <%= check_box_tag 'read_only_status', '1', task.star, disabled: true %>
    </p>

    <p>
      Status: <%= task.status %>
    </p>

    <p>
      Area: <%= link_to task.area&.name, area_path(task.area), style: "text-decoration-line: underline;" if task.area.present? %>
    </p>
    <p>
      Goal: <%= link_to task.project&.name, project_path(task.project), style: "text-decoration-line: underline;" if task.project.present? %>
    </p>

    <p>
      Description: <%=h task.description %>
    </p>

    <p>
      Start date: <%=h task.start_date %>
    </p>
    <p>
      Due date: <%=h task.due_date %>
    </p>

    <p>
      Energy: <%= task.energy %>
    </p>

    <p>
      Time: <%= display_time(task.time.to_i) %>
    </p>
    <p>
      Tags:
      <% task.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </p>

  <% if action_name != "show" %>
    <%= link_to "Show this task", task, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this task", edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
  </div>
</div>
