<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= task.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= task.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Star:</strong>
    <%= task.star %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= task.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due date:</strong>
    <%= task.due_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Energy:</strong>
    <%= task.energy %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= task.time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= task.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Area:</strong>
    <%= task.area_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= task.project_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this task", task, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this task", edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
